:root {
  /* HTML세팅 */
  --vh: 9.120000000000001px;
}

.blind{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  margin: -1px;
}



.skip-nav{
  position: absolute;
  top: 0;left: 0;
}
.skip-nav a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  position: absolute;
  top: 0;left: 0;

  background: #000;
  color: #fff;
  transform: translateY(-100%);
}
.skip-nav a:active,
.skip-nav a:focus{
  transform: translateY(0);
}




